@model Koshop.DomainClasses.MultiPictureModule

@if (Model.MultiPictureItems.Any())
{
    <section class="instagram-feed-area bg-faf5f5">
        <div class="container">
            <div class="section-title">
                <span class="sub-title"><a href="@Model.Link">@Model.Title</a></span>
                <h2>@Model.TitleBold</h2>
            </div>
        </div>

        <div class="instagram-feed-slides owl-carousel owl-theme">
            @foreach (var item in Model.MultiPictureItems)
            {

                <div class="single-instagram-item">
                    <img src="~/Content/Modules/Images/thumbnail/@item.Image" alt="image">

                    <span class="instagram-icon">
                        <span class="fab fa-instagram"></span>
                    </span>

                    <a href="@item.Link"></a>
                </div>
            }
        </div>
    </section>
}