@model Koshop.DomainClasses.Module
@{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
}

<h4>@Model.ModuleTitle</h4>

<ul class="useful-links">
    @foreach (var item in db.Menus.Where(x => x.MenuGroup.MenuModule.Any(y => y.MenuModuleId == Model.ModuleId)))
    {
        if (item.PageType == "5")
        {
            <li><a target="_blank" href="@item.PageContetnt">@item.MenuTitle</a></li>
        }
        else if(item.PageType == "1")
        {
            <li><a  href="/@item.PageName">@item.MenuTitle</a></li>
        }
    }
</ul>
