@model Koshop.DomainClasses.MultiPictureModule

@if(Model.MultiPictureItems.Any())
{
<div class="partner-area ptb-100">
    <div class="partner-slides owl-carousel owl-theme">
        @foreach (var item in Model.MultiPictureItems)
        {
            <div class="partner-item">
                <a href="@item.Link">
                    <img src="~/Content/Modules/Images/@item.Image" alt="image">
                    <img src="~/Content/Modules/Images/@item.Image" alt="image">
                </a>
            </div>
        }
    </div>
</div>
}