@model Koshop.DomainClasses.MultiPictureModule

<div class="content-body">
    <div class="an-section-container">
        <div class="owl-carousel listing-slider owl-theme">
            @foreach (var item in Model.MultiPictureItems)
            {
                <a href="@item.Link">
                    <div class="slider-item" style="background: url('/Content/Modules/Images/@item.Image') center center no-repeat;
                          background-size:cover;">
                    </div>
                </a>
            }
        </div>
    </div>
</div>

