@model ICollection<Koshop.DomainClasses.ProductGroup>

<div id="wrapper" style="z-index:25">
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="menu">
        <label class="menu-toggle" for="menu"><text>asa</text><span>Toggle</span></label>
        <ul>
            @ShowTree(Model.Where(s => s.Depth == 0))
        </ul>
    </div>
</div><!-- #wrapper -->


@helper ShowTree(IEnumerable<Koshop.DomainClasses.ProductGroup> product_Groups)
{
    foreach (var item in product_Groups)
    {
            <li>
                @if (Model.Any(s => s.ParentId == item.ProductGroupId))
                {
                    <label for="menu-@item.ProductGroupId">@item.GroupTitle</label>
                    <input type="checkbox" id="menu-@item.ProductGroupId" name="menu-@item.ProductGroupId" class="menu-checkbox">
                    <div class="menu">
                        <label class="menu-toggle" for="menu-@item.ProductGroupId"><span>Toggle</span></label>
                        <ul>
                            @ShowTree(Model.Where(s => s.ParentId == item.ProductGroupId))
                        </ul>
                    </div>
                }
                else
                {
                    <a href="/Product/search?SlctGrpFilt=@item.GroupTitle.Trim().Replace(" ","-")"> @item.GroupTitle</a>
                }
            </li>
    }
}

@*<div id="wrapper" style="z-index:25">
    <div id="info">
            <div id="info-content">
                <h1>Multi level <strong>CSS-only push menu</strong></h1>
                <p>&lt;noscript&gt;No javascript required&lt;/noscript&gt;</p>
            </div>
        </div>

    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="menu">
        <label class="menu-toggle" for="menu"><span>Toggle</span></label>
        <ul>
            <li>
                <a href="#">Menu-1</a>
            </li>
            <li>
                <a href="#">Menu-2</a>
            </li>
            <li>
                <label for="menu-3">موبایل</label>
                <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
                <div class="menu">
                    <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
                    <ul>
                        <li>
                            <a href="#">Menu-3-1</a>
                        </li>
                        <li>
                            <label for="menu-3-2">Menu-3-2</label>
                            <input type="checkbox" id="menu-3-2" name="menu-3-2" class="menu-checkbox">
                            <div class="menu">
                                <label class="menu-toggle" for="menu-3-2"><span>Toggle</span></label>
                                <ul>
                                    <li>
                                        <a href="#">Menu-3-2-1</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu-3-2-2</a>
                                    </li>
                                    <li>
                                        <label for="menu-3-2-3">Menu-3-2-3</label>
                                        <input type="checkbox" id="menu-3-2-3" name="menu-3-2-3" class="menu-checkbox">
                                        <div class="menu">
                                            <label class="menu-toggle" for="menu-3-2-3"><span>Toggle</span></label>
                                            <ul>
                                                <li>
                                                    <a href="#">Menu-3-2-3-1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Menu-3-2-3-2</a>
                                                </li>
                                                <li>
                                                    <a href="#">Menu-3-2-3-3</a>
                                                </li>
                                                <li>
                                                    <a href="#">Menu-3-2-3-4</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Menu-3-2-4</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Menu-3-3</a>
                        </li>
                        <li>
                            <a href="#">Menu-3-4</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <label for="menu-4">Menu-4</label>
                <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox">
                <div class="menu">
                    <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
                    <ul>
                        <li>
                            <a href="#">Menu-4-1</a>
                        </li>
                        <li>
                            <a href="#">Menu-4-2</a>
                        </li>
                        <li>
                            <a href="#">Menu-4-3</a>
                        </li>
                        <li>
                            <a href="#">Menu-4-4</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <label for="menu-5">Menu-5</label>
                <input type="checkbox" id="menu-5" name="menu-5" class="menu-checkbox">
                <div class="menu">
                    <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
                    <ul>
                        <li>
                            <a href="#">Menu-5-1</a>
                        </li>
                        <li>
                            <a href="#">Menu-5-2</a>
                        </li>
                        <li>
                            <a href="#">Menu-5-3</a>
                        </li>
                        <li>
                            <a href="#">Menu-5-4</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Menu-6</a>
            </li>
        </ul>
    </div>
</div>*@<!-- #wrapper -->
