@model ICollection<Koshop.DomainClasses.Product>

<div class="an-news-container">

    @{
        List<int> list = new List<int>();
        foreach (var item in Model)
        {
            list.Add(item.ProductId);
        }

        for (int i = 0; i < 7; i++)
        {
            Random rnd = new Random();
            int index = rnd.Next(list.Count);
            int selectedProduct = list[index];
            //list.RemoveAt(index);

            <div class="an-news-single latest-listing">
                <div class="an-top-meta">
                    <span class="an-badge bg-primary"> @Model.FirstOrDefault(x=>x.ProductId == selectedProduct).ProductGroup.GroupTitle </span>
                    <span class="price">@Model.FirstOrDefault(x => x.ProductId == selectedProduct).ProductName</span>
                </div>
                <a href="/details/explore/@Model.FirstOrDefault(x=>x.ProductId == selectedProduct).AliasName"> @Model.FirstOrDefault(x => x.ProductId == selectedProduct).ProductTitle</a>
                <div class="listing-meta">
                    <span>@Model.FirstOrDefault(x => x.ProductId == selectedProduct).AliasName</span>
                </div>
            </div>
        }
    }
</div>