@*@model Koshop.DomainClasses.Products

    <div class="thumbnail" style="overflow:hidden">
        <div class="well well-sm text-center">
            @Model.ProductTitle
        </div>
        <img class="thumbnail pull-left" src="~/Content/Upload/productImages/images/@Model.ProductImage" width="220" />
        @Html.Raw(Model.ProductDescription)
        <hr />
        @if(Model.Product_Galleries.Any())
        {
            foreach(var item in Model.Product_Galleries.ToList())
            {
                <div class="col-md-3">
                    <img src="~/Content/Upload/productImages/thumbnail/@item.ImageName" />
                </div>
            }
        }
    </div>*@
