@model Koshop.DomainClasses.User

<div style="width:100%;direction:rtl">
    <h1>@Model.Name عزیز !</h1>
    <br />

    <p>برای بازیابی رمز عبور  روی لینک زیر کلیک کنید</p>

    <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Account/ChangePassword/@Model.ActiveCode">لینک تغییر رمز عبور</a>
</div>