<div class="an-login-register-content" style="padding:0;min-height:100%">
    <div class="overlay"></div>
    <div class="content">
        <p>اگر حساب کاربری نداری <a href="register.html">ثبت نام کن</a></p>

        <form class="an-form" action="#">
            <div class="row">
                <div class="col-sm-12">
                    <input type="email" class="an-form-control light" placeholder="ایمیل">
                </div>
                <div class="col-sm-12">
                    <input type="password" class="an-form-control light" placeholder="پسورد">
                </div>
            </div>
            <button type="submit" class="an-btn an-btn-default large-padding btn-lg">ورود</button>
        </form>
    </div>
</div>
