
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <section class="checkout-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6" style="margin-right:25%">
                        <div class="billing-details">
                            <h3 class="title">بازیابی رمز عبور</h3>
                            <div class="row">
                                <div id="validationForget"></div>
                                <div class=" col-md-12">
                                    <div class="form-group">
                                        <input id="UserEmailMobile" type="text" class="form-control ltr" placeholder="نام کاربری یا موبایل و یا ایمیل خود را وارد کنید">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-left:50%">
                                    <div class="form-group">
                                        <div class="all-center text-capitalize">
                                            <div class="g-recaptcha" data-sitekey="6LcBpoAUAAAAAGUVrtDi4LWBcoOojKe11yZ_Ja_D"></div>
                                        </div>
                                        <label class="text-warning">@ViewBag.Message</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="btnSubmit" type="submit" href="#" class="default-btn">ارسال<span></span></button>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 " style="margin-right:25%">
                        <div class="user-actions">
                            <i class="fas fa-key"></i>
                            <i class="fas fa-home"></i>
                            <span>بازگشت به <a href="/">صفحه اصلی</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}



@section Script{

    <script>
        $("#btnSubmit").on("click", function (e) {
            e.preventDefault();
            console.log($("#UserEmailMobile").val());
            $.ajax({
                url: "/Account/SendforgotPass",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                type: "Post",
                data: {
                    userName: $("#UserEmailMobile").val(),
                    __RequestVerificationToken: gettoken(),
                },
                async: true,
                cache: false,
                success: function (result) {
                    if (result == false) {
                        $("#validationForget").html(result)
                        $("#validationForget").show();
                    }
                    else {
                        $("#validationForget").html(result);
                        $("#validationForget").show();

                    }
                },
                error: function (result) {
                    alert("خطایی رخ داد! دوباره امتحان کنید");
                }
            });
        });
    </script>

    <script type="text/javascript">
         function gettoken() {
             var token = '@Html.AntiForgeryToken()';
             token = $(token).val();
             return token;
        }
    </script>
}

@section Head{
    <link href="~/content/assets/plugins/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
    <title>@Koshop.web.Content.Resources.Titles.SiteTitle - بازیابی رمز عبور</title>
}