@model IEnumerable<Koshop.DomainClasses.DetailGroup>
@{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
    int? productid = Convert.ToInt16(Url.RequestContext.RouteData.Values["id"]);
}
@foreach (var grp in Model)
{
    <div class="col-md-12">
        <br />
        <lable class="badge-inverse text-white text-center table-responsive col-md-12" style="width:100%">
            @grp.Name را وارد کنید
        </lable>
        <table class="table table-bordered table-striped table-responsive text-center">

            @foreach (var attr in grp.DetailItem)
            {

                <tr>
                    <td>
                        @attr.DetailTitle
                    </td>
                    <td>
                        <textarea class="ltr" name="detItem_@attr.DetailItemId" value="" rows="3"></textarea>
                    </td>

                </tr>
            }
        </table>
    </div>
}
