
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="~/content/Koshop/assets/img/logo-final-white.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="citychooser" class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-android-laptop color-moto"></i>لپ تاپ<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=لپ-تاپ">لپ تاپ Laptop</a></li>
                                            <li><a href="/Product/search?filt=1~ASUS&SlctGrpFilt=لپ-تاپ">ایسوس Asus</a></li>
                                            <li><a href="/Product/search?filt=1~HP&SlctGrpFilt=لپ-تاپ">اچ پی HP</a></li>
                                            <li><a href="/Product/search?filt=1~Lenovo&SlctGrpFilt=لپ-تاپ">لنوو Lenovo</a></li>
                                            <li><a href="/Product/search?filt=1~Acer&SlctGrpFilt=لپ-تاپ">ایسر Acer</a></li>
                                            <li><a href="/Product/search?filt=1~Dell&SlctGrpFilt=لپ-تاپ">دل Dell</a></li>
                                            <li><a href="/Product/search?filt=1~Apple&SlctGrpFilt=لپ-تاپ">اپل Apple</a></li>
                                            <li><a href="/Product/search?filt=1~MSI&SlctGrpFilt=لپ-تاپ">ام اس آی MSI</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس پردازنده</p></li>
                                            <li><a href="/Product/search?filt=7~CORE-I3&SlctGrpFilt=لپ-تاپ">پردازنده Intel® Core™ i7</a></li>
                                            <li><a href="/Product/search?filt=7~CORE-I5&SlctGrpFilt=لپ-تاپ">پردازنده Intel® Core™ i5</a></li>
                                            <li><a href="/Product/search?filt=7~CORE-I3&SlctGrpFilt=لپ-تاپ">پردازنده Intel® Core™ i3</a></li>
                                            <li><a href="/Product/search?filt=7~PENTIUM&SlctGrpFilt=لپ-تاپ">پردازنده Intel® Pentium</a></li>
                                            <li><a href="/Product/search?filt=7~CELERON&SlctGrpFilt=لپ-تاپ">پردازنده Intel® Celeron</a></li>
                                            <li><a href="/Product/search?filt=7~CORE-2DUO&SlctGrpFilt=لپ-تاپ">پردازنده Core 2 Duo</a></li>
                                            <li><a href="/Product/search?filt=7~BRISTOL-BRIDGE&SlctGrpFilt=لپ-تاپ">پردازنده Bristol Ridge</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس حافظه HARD</p></li>
                                            <li><a href="/Product/search?filt=3~HARD-1-TRA&SlctGrpFilt=لپ-تاپ">یک ترا بایت</a></li>
                                            <li><a href="/Product/search?filt=3~HARD-500-GIG&SlctGrpFilt=لپ-تاپ">500 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=3~HARD-2-TRA&SlctGrpFilt=لپ-تاپ">دو ترابایت</a></li>
                                            <li><p>جستجو براساس حافظه RAM</p></li>
                                            <li><a href="/Product/search?filt=2~RAM-8-GIG&SlctGrpFilt=لپ-تاپ">8 گیگا بایت</a></li>
                                            <li><a href="/Product/search?filt=2~RAM-4-GIG&SlctGrpFilt=لپ-تاپ">4 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=2~RAM-16-GIG&SlctGrpFilt=لپ-تاپ">16 گیگابایت</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس صفحه نمایش</p></li>
                                            <li><a href="/Product/search?filt=4~15-6-INCH&SlctGrpFilt=لپ-تاپ">15.6 اینچ</a></li>
                                            <li><a href="/Product/search?filt=4~14-INCH&SlctGrpFilt=لپ-تاپ">14 اینچ</a></li>
                                            <li><a href="/Product/search?filt=4~13-INCH&SlctGrpFilt=لپ-تاپ">13 اینچ</a></li>
                                            <li><a href="/Product/search?filt=4~16-INCH&SlctGrpFilt=لپ-تاپ">16 اینچ</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=5~MAT&SlctGrpFilt=لپ-تاپ">صفحه نمایش مات</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=8~TOUCH-ABLE&SlctGrpFilt=لپ-تاپ">صفحه نمایش لمسی</a></li>
                                            <li>
                                                <div ></div>
                                                <img class="menulaptopimage" src="~/content/Koshop/assets/img/laptopmenu.png" alt="لپ تاپ Laptop">
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-android-phone-portrait color-propert"></i>موبایل<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=موبایل">موبایل Mobile</a></li>
                                            <li><a href="/Product/search?filt=9~SAMSUNG&SlctGrpFilt=موبایل">سامسونگ SAMSUNG</a></li>
                                            <li><a href="/Product/search?filt=9~LG&SlctGrpFilt=موبایل">ال جی LG</a></li>
                                            <li><a href="/Product/search?filt=9~Apple&SlctGrpFilt=موبایل">اپل Apple</a></li>
                                            <li><a href="/Product/search?filt=9~Huawei&SlctGrpFilt=موبایل">هواوی Huawei</a></li>
                                            <li><a href="/Product/search?filt=9~Nokia&SlctGrpFilt=موبایل">نوکیا Nokia</a></li>
                                            <li><a href="/Product/search?filt=9~HTC&SlctGrpFilt=موبایل">اچ تی سی HTC</a></li>
                                            <li><a href="/Product/search?filt=9~Motorola&SlctGrpFilt=موبایل">موتورولا Motorla</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس صفحه نمایش</p></li>
                                            <li><a href="/Product/search?filt=11~5-5-5-0-INCH&SlctGrpFilt=موبایل">5.0 تا 5.5 اینچ</a></li>
                                            <li><a href="/Product/search?filt=11~5-6-6-0-INCH&SlctGrpFilt=موبایل">5.6 تا 6 اینچ</a></li>
                                            <li><a href="/Product/search?filt=11~4-6-4-9-INCH&SlctGrpFilt=موبایل">4.6 تا 4.9 اینچ</a></li>
                                            <li><p>جستجو براساس رزولوشن عکس</p></li>
                                            <li><a href="/Product/search?filt=12~13-MEGAPIXEL&SlctGrpFilt=موبایل">13.0 مگا پیکسل</a></li>
                                            <li><a href="/Product/search?filt=12~16-MEGAPIXEL&SlctGrpFilt=موبایل">16.0 مگا پیکسل</a></li>
                                            <li><a href="/Product/search?filt=12~20-MEGAPIXEL&SlctGrpFilt=موبایل">20.0 مگا پیکسل</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس سیستم عامل</p></li>
                                            <li><a href="/Product/search?filt=10~ANDROID&SlctGrpFilt=موبایل">اندروید Android</a></li>
                                            <li><a href="/Product/search?filt=10~IOS&SlctGrpFilt=موبایل">آی او اس IOS</a></li>
                                            <li><a href="/Product/search?filt=10~WINDOWS-PHONE&SlctGrpFilt=موبایل">ویندوز فون Windows Phone</a></li>
                                            <li><p>جستجو براساس حافظه داخلی</p></li>
                                            <li><a href="/Product/search?filt=16~MEMORY-16-GIG&SlctGrpFilt=موبایل">16 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=16~MEMORY-32-GIG&SlctGrpFilt=موبایل">32 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=16~MEMORY-64-GIG&SlctGrpFilt=موبایل">64 گیگابایت</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجوی تعداد سیم کارت</p></li>
                                            <li><a href="/Product/search?filt=13~2-SIM&SlctGrpFilt=موبایل">دو سیم کارته</a></li>
                                            <li><a href="/Product/search?filt=13~3-SIM&SlctGrpFilt=موبایل">سه سیم کارته</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=15~BATTERY-CHANGE&SlctGrpFilt=موبایل">باتری قابل تعویض</a></li>
                                            <li><img  class="menumobileimage"  src="~/content/Koshop/assets/img/mobilemenu.png" alt="لپ تاپ Laptop"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-android-phone-landscape color-hote"></i>تبلت<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=تبلت">تبلت Tablet</a></li>
                                            <li><a href="/Product/search?filt=18~SAMSUNG&SlctGrpFilt=تبلت">سامسونگ SAMSUNG</a></li>
                                            <li><a href="/Product/search?filt=18~ASUS&SlctGrpFilt=تبلت">ایسوس Asus</a></li>
                                            <li><a href="/Product/search?filt=18~Microsoft&SlctGrpFilt=تبلت">ماکروسافت Microsoft</a></li>
                                            <li><a href="/Product/search?filt=18~SmartTouch&SlctGrpFilt=تبلت">اسمارت تاچ Smart touch</a></li>
                                            <li><a href="/Product/search?filt=18~Lenovo&SlctGrpFilt=تبلت">لنوو Lenovo</a></li>
                                            <li><a href="/Product/search?filt=18~Acer&SlctGrpFilt=تبلت">ایسر Acer</a></li>
                                            <li><a href="/Product/search?filt=18~Apple&SlctGrpFilt=تبلت">اپل Apple</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">

                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس صفحه نمایش</p></li>
                                            <li><a href="/Product/search?filt=19~8-10-INCH&SlctGrpFilt=تبلت">8 تا 10 اینچ</a></li>
                                            <li><a href="/Product/search?filt=19~10-13-INCH&SlctGrpFilt=تبلت">10.1 تا 13 اینچ</a></li>
                                            <li><a href="/Product/search?filt=19~LOWER-8-INCH&SlctGrpFilt=تبلت">کوچکتر از 8 اینچ</a></li>
                                            <li><a href="/Product/search?filt=19~BIGGER-13-INCH&SlctGrpFilt=تبلت">بزرگتر از 13 اینچ</a></li>
                                            <li><p>پشتیبانی از سیم کارت</p></li>
                                            <li><a href="/Product/search?filt=23~1-SIM&SlctGrpFilt=تبلت">تک سیم کارته</a></li>
                                            <li><a href="/Product/search?filt=23~2-SIM&SlctGrpFilt=تبلت">دو سیم کارته</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو بر اساس سیستم عامل</p></li>
                                            <li><a href="/Product/search?filt=20~ANDROID&SlctGrpFilt=تبلت">اندروید Android</a></li>
                                            <li><a href="/Product/search?filt=20~IOS&SlctGrpFilt=تبلت">آی او اس IOS</a></li>
                                            <li><a href="/Product/search?filt=20~WINDOWS-PHONE&SlctGrpFilt=تبلت">ویندوز فون Windows Phone</a></li>
                                            <li><p>جستجو براساس حافظه داخلی</p></li>
                                            <li><a href="/Product/search?filt=22~MEMORY-16-GIG&SlctGrpFilt=تبلت">16 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=22~MEMORY-32-GIG&SlctGrpFilt=تبلت">32 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=22~MEMORY-64-GIG&SlctGrpFilt=تبلت">64 گیگابایت</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><p>جستجو براساس مقدار RAM</p></li>
                                            <li><a href="/Product/search?filt=21~RAM-4-GIG&SlctGrpFilt=تبلت">4 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=21~RAM-8-GIG&SlctGrpFilt=تبلت">8 گیگابایت</a></li>
                                            <li><a href="/Product/search?filt=21~RAM-16-GIG&SlctGrpFilt=تبلت">16 گیگابایت</a></li>
                                            <li>
                                                <img class="menutabletimage" src="~/content/Koshop/assets/img/tabletMenu.png" alt="لپ تاپ Laptop">
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-network color-sal"></i>تجهیزات شبکه<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=مودم-و-روتر-ADSL">مودم ADSL</a></li>
                                            <li><a href="/Product/search?filt=38~TP-LINK&SlctGrpFilt=مودم-و-روتر-ADSL"> تی پی لینک  TP-LINK</a></li>
                                            <li><a href="/Product/search?filt=38~D-link&SlctGrpFilt=مودم-و-روتر-ADSL"> دی لینک D-link</a></li>
                                            <li><a href="/Product/search?filt=38~Edimax&SlctGrpFilt=مودم-و-روتر-ADSL">ادیمکس  Edimax</a></li>
                                            <li><a href="/Product/search?filt=38~Broadkam&SlctGrpFilt=مودم-و-روتر-ADSL">برادکم Broadkam</a></li>
                                            <li><a href="/Product/search?filt=38~Tenda&SlctGrpFilt=مودم-و-روتر-ADSL">تندا Tenda</a></li>
                                            <li><a href="/Product/search?filt=43~2-USB&SlctGrpFilt=مودم-و-روتر-ADSL">دارای دو رابط USB</a></li>
                                            <li ><a href="/Product/search?filt=41~4-RJ-45&SlctGrpFilt=مودم-و-روتر-ADSL">دارای چهار پورت RJ45</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">

                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=مودم-3G-و-4G">مودم 3G و 4G</a></li>
                                            <li><a href="/Product/search?filt=60~Irancell&SlctGrpFilt=مودم-3G-و-4G">ایرانسل Irancell</a></li>
                                            <li><a href="/Product/search?filt=60~TP-LINK&SlctGrpFilt=مودم-3G-و-4G"> تی پی لینک  TP-LINK</a></li>
                                            <li><a href="/Product/search?filt=60~D-link&SlctGrpFilt=مودم-3G-و-4G"> دی لینک D-link</a></li>
                                            <li><a href="/Product/search?filt=60~Tenda&SlctGrpFilt=مودم-3G-و-4G">تندا Tenda</a></li>
                                            <li ><a href="/Product/search?filt=61~PORTABLE&SlctGrpFilt=مودم-3G-و-4G">قابل حمل</a></li>
                                            <li><a href="/Product/search?filt=64~TD-LDE&SlctGrpFilt=مودم-3G-و-4G">پشتیبانی از TD-LDE</a></li>
                                            <li><a href="/Product/search?filt=65~SIMCARD-COMPATIBLE&SlctGrpFilt=مودم-3G-و-4G">دارای چهار پورت RJ45</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist" style="right:660px">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=روتر-و-اکسس-پوینت">روتر و اکسس پوینت</a></li>
                                            <li><a href="/Product/search?filt=45~TP-LINK&SlctGrpFilt=روتر-و-اکسس-پوینت"> تی پی لینک  TP-LINK</a></li>
                                            <li><a href="/Product/search?filt=45~D-link&SlctGrpFilt=روتر-و-اکسس-پوینت"> دی لینک D-link</a></li>
                                            <li><a href="/Product/search?filt=45~Edimax&SlctGrpFilt=روتر-و-اکسس-پوینت">ادیمکس  Edimax</a></li>
                                            <li><a href="/Product/search?filt=45~CNet&SlctGrpFilt=روتر-و-اکسس-پوینت">سی نت C-Net</a></li>
                                            <li><a href="/Product/search?filt=45~Tenda&SlctGrpFilt=روتر-و-اکسس-پوینت">تندا Tenda</a></li>
                                            <li><a href="/Product/search?filt=51~2-USB-3-0&SlctGrpFilt=روتر-و-اکسس-پوینت">دارای دو رابط USB 3.0</a></li>
                                            <li><a href="/Product/search?filt=47~8-LAN&SlctGrpFilt=روتر-و-اکسس-پوینت">دارای هشت پورت شبکه (LAN)</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul>
                                            <li>
                                                <img class="menunetworkimage"  src="~/content/Koshop/assets/img/modemmenu.png" alt="لپ تاپ Laptop">
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-printer color-servic"></i>ماشین های اداری<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=پرینتر">پرینتر Printer</a></li>
                                            <li><a href="/Product/search?filt=25~HP&SlctGrpFilt=پرینتر">اچ پی HP</a></li>
                                            <li><a href="/Product/search?filt=25~Canon&SlctGrpFilt=پرینتر">کانن Canon</a></li>
                                            <li><a href="/Product/search?filt=25~SAMSUNG&SlctGrpFilt=پرینتر">سامسونگ SAMSUNG</a></li>
                                            <li><a href="/Product/search?filt=25~Sony&SlctGrpFilt=پرینتر">سونی Sony</a></li>
                                            <li><a href="/Product/search?filt=25~SHARP&SlctGrpFilt=پرینتر">شارپ SHARP</a></li>
                                            <li><a href="/Product/search?filt=25~Brother&SlctGrpFilt=پرینتر">برادر Brother</a></li>
                                            <li><a href="/Product/search?filt=25~Epson&SlctGrpFilt=پرینتر">اپسون Epson</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?filt=29~TWO-SIDE&SlctGrpFilt=پرینتر">پرینتر با قابلیت دورو</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=30~WIFI-COMPATABLE&SlctGrpFilt=پرینتر">دارای شبکه بیسیم WIFI</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=31~COLORFUL&SlctGrpFilt=پرینتر">چاپ رنگی</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=26~LASER-MULTIfUNC&SlctGrpFilt=پرینتر">پرینتر چند کاره لیزری</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=اسکنر">اسکنر Scanner</a></li>
                                            <li><a href="/Product/search?filt=32~Avision&SlctGrpFilt=اسکنر">ای ویژن Avison</a></li>
                                            <li><a href="/Product/search?filt=32~Canon&SlctGrpFilt=اسکنر">کانن Canon</a></li>
                                            <li><a href="/Product/search?filt=32~plusTek&SlctGrpFilt=اسکنر">پلاس تک Plus Tek</a></li>
                                            <li><a href="/Product/search?filt=32~kodak&SlctGrpFilt=اسکنر">کداک Kodak</a></li>
                                            <li><a href="/Product/search?filt=32~Epson&SlctGrpFilt=اسکنر">اچ پی HP</a></li>
                                            <li><a href="/Product/search?filt=32~HP&SlctGrpFilt=اسکنر"> فوجیستو Fujitsu</a></li>
                                            <li><a href="/Product/search?filt=32~Epson&SlctGrpFilt=اسکنر">اپسون Epson</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?filt=35~TWO-SIDE&SlctGrpFilt=اسکنر">اسکن با قابلیت دورو</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=36~OCR&SlctGrpFilt=اسکنر">قابلیت تشخیص متن OCR</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=37~NEGATIVE&SlctGrpFilt=اسکنر">دارای اسکن نگاتیو</a></li>
                                            <li><img class="menuprinterimage"  src="~/content/Koshop/assets/img/printermenu.png" alt="لپ تاپ Laptop"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-monitor color-jo"></i>مانیتور<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?SlctGrpFilt=مانیتور">مانیتور Monitor</a></li>
                                            <li><a href="/Product/search?filt=52~SAMSUNG&SlctGrpFilt=مانیتور">سامسونگ SAMSUNG</a></li>
                                            <li><a href="/Product/search?filt=52~LG&SlctGrpFilt=مانیتور">ال جی LG</a></li>
                                            <li><a href="/Product/search?filt=52~ASUS&SlctGrpFilt=مانیتور">ایسوس ASUS</a></li>
                                            <li><a href="/Product/search?filt=52~Viewsonic&SlctGrpFilt=مانیتور">ویوسونیک Viewsonic</a></li>
                                            <li><a href="/Product/search?filt=52~BenQ&SlctGrpFilt=مانیتور">بنکیو BenQ</a></li>
                                            <li><a href="/Product/search?filt=52~Dell&SlctGrpFilt=مانیتور">دل Dell</a></li>
                                            <li><a href="/Product/search?filt=52~HP&SlctGrpFilt=مانیتور">اچ پی HP</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li class="boldmenu"><a href="/Product/search?filt=57~SPEAKER-ON&SlctGrpFilt=مانیتور">دارای بلندگو</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=58~USB-COMAPTABLE&SlctGrpFilt=مانیتور">دارای پورت USB</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=56~HDMI-COMPATABLE&SlctGrpFilt=مانیتور">دارای پورت HDMI</a></li>
                                            <li class="boldmenu"><a href="/Product/search?filt=59~DVI-COMPATABLE&SlctGrpFilt=مانیتور">دارای پورت DVI</a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><a></a></li>
                                        </ul>
                                    </div>
                                    <div class="lisline">
                                        <ul class="droplist">
                                            <li><img class="menumonitorimage"  src="~/content/Koshop/assets/img/monitormenu.png" alt="لپ تاپ Laptop"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">

                        <li><a class="an-btn an-btn-default" href="/account/register"><i class="typcn typcn-location-outline"></i><span>ثبت نام</span></a></li>
                        <li><a class="sign-up-link" href="/admin"><i class="typcn typcn-user"></i><span>ورود به مدیریت</span></a></li>
                    </ul>
                    @*<ul class="nav navbar-nav" style="float:left">
                            <li class="">
                                <a href="/home/Koshop.web" role="button" aria-haspopup="true" aria-expanded="false">کجا چی داره ؟<span class="caret"></span></a>
                            </li>
                        </ul>*@
                </div><!-- /.navbar-collapse -->
