@{ 
    Layout = null;
}

<!doctype html>
<html lang="fa">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Multi-Purpose,Zovio - Interior Design and Architecture HTML Template">
    <meta name="description" content="/zovio - Interior Design and Architecture HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/bootstrap.min.css">
    <!-- Animation Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/animate.min.css">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/fontawesome.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/flaticon.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/magnific-popup.min.css">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/meanmenu.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/odometer.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/nice-select.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/owl.carousel.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/zovio/assets/css/style_v1.1.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/rtl.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/zovio/assets/css/responsive.css">

    <title>Zovio - قالب HTML زوویو , پوسته چندمنظوره طراحی داخلی و معماری</title>

    <link rel="icon" type="image/png" href="/zovio/assets/img/favicon.png">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Error Area -->
    <section class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <img src="/zovio/assets/img/404.png" alt="error">

                        <h3>صفحه یافت نشد</h3>
                        <p>اگر صفحه تغییر کرده یا موقتا در دسترس نیست ممکن است صفحه مورد نظر شما حذف شده باشد.</p>

                        <a href="/" class="default-btn">رفتن به صفحه اصلی <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Error Area -->
    <!-- jQuery Min JS -->
    <script src="/zovio/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="/zovio/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="/zovio/assets/js/bootstrap.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="/zovio/assets/js/owl.carousel.min.js"></script>
    <!-- magnific Popup Min JS -->
    <script src="/zovio/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Appear Min JS -->
    <script src="/zovio/assets/js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="/zovio/assets/js/odometer.min.js"></script>
    <!-- Mean Menu JS -->
    <script src="/zovio/assets/js/jquery.meanmenu.js"></script>
    <!-- Nice Select Min JS -->
    <script src="/zovio/assets/js/jquery.nice-select.min.js"></script>
    <!-- Parallax Min JS -->
    <script src="/zovio/assets/js/parallax.min.js"></script>
    <!-- WOW Min JS -->
    <script src="/zovio/assets/js/wow.min.js"></script>
    <!-- AjaxChimp Min JS -->
    <script src="/zovio/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="/zovio/assets/js/form-validator.min.js"></script>
    <!-- Contact Form Min JS -->
    <script src="/zovio/assets/js/contact-form-script.js"></script>
    <!-- Main JS -->
    <script src="/zovio/assets/js/main.js"></script>
</body>
</html>